---
import { CardPokemon } from "../../components/pokedex/CardPokemon";
import Layout from "../../layouts/Layout.astro";
import { CapitalizeWord } from "../../lib/utils";
import { getMovebyName } from "../../services/PokemonSerice";

const { name } = Astro.params;

const move = await getMovebyName(name);
---

<Layout title={CapitalizeWord(move.name)}>
  <div class="flex justify-center">
    <h2 class="font-semibold text-3xl">{CapitalizeWord(move.name)}</h2>
  </div>
  <div class="grid grid-cols-3 bg-zinc-200 m-5 p-6 rounded-lg shadow-lg">
    <div class="flex flex-col pb-3">
      <dt class="mb-1 md:text-lg font-semibold text-center">Type</dt>
      <dd class:list={["text-lg text-center"]}>
        <p
          class:list={[
            "py-1 px-5 rounded mx-3",
            {
              "bg-[#A8A878]": move.type.name === "normal",
            },
            {
              "bg-[#F08030]": move.type.name === "fire",
            },
            {
              "bg-[#6890F0]": move.type.name === "water",
            },
            {
              "bg-[#F8D030]": move.type.name === "electric",
            },
            {
              "bg-[#78C850]": move.type.name === "grass",
            },
            {
              "bg-[#98D8D8]": move.type.name === "ice",
            },
            {
              "bg-[#C03028]": move.type.name === "fighting",
            },
            {
              "bg-[#A040A0]": move.type.name === "poison",
            },
            {
              "bg-[#E0C068]": move.type.name === "ground",
            },
            {
              "bg-[#A890F0]": move.type.name === "flying",
            },
            {
              "bg-[#F85888]": move.type.name === "psychic",
            },
            {
              "bg-[#A8B820]": move.type.name === "bug",
            },
            {
              "bg-[#B8A038]": move.type.name === "rock",
            },
            {
              "bg-[#705898]": move.type.name === "ghost",
            },
            {
              "bg-[#7038F8]": move.type.name === "dragon",
            },
            {
              "bg-[#705848]": move.type.name === "dark",
            },
            {
              "bg-[#B8B8D0]": move.type.name === "steel",
            },
            {
              "bg-[#EE99AC]": move.type.name === "fairy",
            },
          ]}
        >
          {CapitalizeWord(move.type.name)}
        </p>
      </dd>
    </div>
    <div class="flex flex-col pb-3 text-center">
      <dt class="mb-1 md:text-lg font-semibold">Descripction</dt>
      <dd class="text-lg">
        {
          move.flavor_text_entries.filter(
            (type) => type.language.name === "en"
          )[0].flavor_text
        }
      </dd>
    </div>
    <div class="flex flex-col pb-3 text-center">
      <dt class="mb-1 md:text-lg font-semibold">Class</dt>
      <div class="flex justify-center">
        <img
          class="w-20"
          src={move.damage_class.name === "physical"
            ? "https://images.wikidexcdn.net/mwuploads/wikidex/3/31/latest/20140504181227/Clase_f%C3%ADsico.gif"
            : move.damage_class.name === "special"
              ? "https://images.wikidexcdn.net/mwuploads/wikidex/6/61/latest/20140504180925/Clase_especial.gif"
              : "https://images.wikidexcdn.net/mwuploads/wikidex/0/06/latest/20141020094029/Clase_estado.gif"}
        />
      </div>
    </div>
    <div class="flex flex-col pb-3 text-center">
      <dt class="mb-1 md:text-lg font-semibold">Power</dt>
      <dd class="text-lg">
        {move.power !== null ? move.power : "N/A"}
      </dd>
    </div>
    <div class="flex flex-col pb-3 text-center">
      <dt class="mb-1 md:text-lg font-semibold">Accuracy</dt>
      <dd class="text-lg">
        {move.accuracy !== null ? move.accuracy : "N/A"}
      </dd>
    </div>
    <div class="flex flex-col pb-3 text-center">
      <dt class="mb-1 md:text-lg font-semibold">PP</dt>
      <dd class="text-lg">
        {move.pp}
      </dd>
    </div>
  </div>

  <div class="flex justify-center">
    <h2 class="font-semibold text-3xl">Pokemon that learn this movement</h2>
  </div>
  <div class="grid grid-cols-4 bg-zinc-200 m-5 p-6 rounded-lg shadow-lg">
    {
      move.learned_by_pokemon.map((pokemon) => (
        <CardPokemon name={pokemon?.name} client:load />
      ))
    }
  </div>
</Layout>
